body {
	margin: 0;
	background-color: #7C98AE;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	line-height: 160%;
}

/*body * {
	border: 1px maroon solid;
}
*/
.hidden {
	display: none;
}

/******** Typography ***********/

.nav-item {
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	font-size: 1.1rem;
}



ul {
	list-style-type: none;
	padding: 0;
}

.main-nav-list {
	line-height: 2em;
}

.main-nav-list li:hover {
	background-color: #7C98AE;
	color: #294356;
}

.subtitle {
	color: rgb(170,143,76);
	font-weight: 400;
}

.main {
	border-top: 1px solid #fff;
}

.right-column {
	padding: 5px;
}

.cover-image {
	border: 1px dashed #fff;
	padding: 3px;
}










/*********** Layout *************/

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #fff;
	width: 900px;
	max-width: 100%;
	margin: .35em auto;
}

.content {
	display: flex;
	flex-direction: column;
}

.hero-image {
	width: 900px;
	max-width: 100%;
	margin: 0 auto;
}

.main-nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: rgb(165,184,201);
	margin: 0 auto;
	border-top: 1px solid #fff;
	line-height: 1.4em;
	letter-spacing: 1px;
	padding: 0;
}

main,
aside {
	background-color: rgb(204,214,224);
}

.cikk {
	border: 1px solid #fff;
	margin: 5px auto;
	padding: 0 5px;
}

@media (min-width: 675px) {
	.main-nav {
		flex-direction: row;
	}

	.content {
		flex-flow: row wrap;
	}

}